@tailwind base;
@layer base{
    #label{
        transition: top 0.3s ease-in-out;
    }
    #posteInput{
        transition: hidden 0.3s ease-in-out;
        }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }

