@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    #sidebar{
        transition: width 0.3s ease-in-out;
    }

    .sidebar-button{
        transition: background-color 0.3s ease-in-out;
    }
    
    .sidebar-button span{
        transition: display 0.3s ease-in-out;
    }
}